altair 
bokeh 
beautifulsoup4 
catboost 
conda 
cryptography 
cython 
dask
dask-ml
datascience
decorator 
defusedxml 
dill 
distributed
elephas 
eli5 
gensim 
gluoncv
h5py 
imageio 
ipykernel 
ipython 
ipython-genutils 
ipywidgets 
Jinja2 
jupyter-client 
jupyter-core 
jupyterhub 
jupyterlab 
jupyterlab-launcher 
jupyterlab-server 
keras 
lightgbm 
matplotlib 
memory_profiler
mxnet
networkx 
nltk 
notebook 
numba 
numexpr 
numpy 
opencv-python 
pandas 
Pillow 
line_profiler 
prometheus-client 
Pygments 
pytables
pytest 
pytest-benchmark 
pytz 
requests 
rx 
s3fs
scikit-image 
scikit-learn 
scipy 
scrapy 
seaborn 
snakeviz
spacy 
SQLAlchemy 
statsmodels 
tables
tensorflow 
textblob 
tornado 
vega-datasets 
wordcloud 
xgboost




